*.env
*.env.*
!.env.example
*.pem
*.key
*.pub
id_rsa*
id_ed25519*
secrets/
config.local.sh

*.log
*.out
*.err
*.tmp
*.temp
/tmp/
*.pid



[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
*.un~
Session.vim
.netrwhist


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.bash_history
.zsh_history
*~
.directory


.DS_Store
.AppleDouble
.LSOverride


Thumbs.db
ehthumbs.db
Desktop.ini


*.tar.gz
*.tgz
*.zip
*.7z
*.sql
*.dump
